/service-courier
/service-courier.out
/service-courier.exe
*.exe
*.bin
*.so

/bin/
/build/
/dist/

.env
.env.local
.env.docker

/.cache/


/coverage/
/coverage/*.*
/htmlcov/
coverage-integration/coverage.out
/coverage-integration/*.*
coverage-unit
/coverage-unit/*.*

*.prof
*.trace

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

*.log
/logs/

/tmp/
/temp/

*.sh

pgdata/